/* Make subcommand headers larger and bold */
h3 {
    font-size: 1.75em !important;
    font-weight: bold !important;
}

/* Increase image margins */
main img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Main logo margin */
.main-logo {
    margin-top: 0rem;
    margin-bottom: 2rem;
}