{% extends "layouts/base.html" %}

{% block title %} scFilterStats {% endblock %}

<!-- Specific CSS goes HERE-->
{% block stylesheets %}
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Preprocessing</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Preprocessing</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">QC statistics</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- WTFroms with input -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Input</h5>
                            </div>
                            <div class="card-body">
                              <!--Test form-->
                              <form action = "/blah" method="POST">
                                {{form.hidden_tag()}}
                                <div class="form-group m-5">
                                      {{ form.bamfiles.label }}
                                      {{ form.bamfiles(class="form-control") }}
                                </div>
                                <div class="form-group m-5">
                                      {{ form.barcodes.label }}
                                      {{ form.barcodes(class="form-control") }}
                                </div>
                                  {{ form.submit(class="btn-lg btn-primary m-5") }}
                              </form>
                              </div>
                          </div>
                        </div>
                    </div>
                          <!-- [ Main Content ] end -->
                </div>
            </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}
