{% extends "layouts/base.html" %}

{% block title %} Explore Output {% endblock %}

<!-- Specific CSS goes HERE-->
{% block stylesheets %}
{{ css_resources|indent(4)|safe }}
{% endblock stylesheets %}

{% block content %}
{{ plot_script|indent(4)|safe }}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Output</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Explore Output</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <!--Bokeh plot of output-->
                        <div class="card">
                            <div class="card-header">
                                <h5>Explore Output</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                  <!--Form to execute scFilterStats-->
                                  <form action = "/explore-output" method="POST">
                                    <div class="form-group m-5">
                                      {{ form.geneName.label }}
                                      {{ form.geneName(class="form-control") }}
                                      {{ form.submit(class="btn-lg btn-primary m-5") }}
                                      {{ form.hidden_tag() }}
                                    </div>
                                  </form>
                                </div>
                                <div class="row">
                                  <div style="display: flex; justify-content: center;">
                                  {{ plot_div|indent(4)|safe }}
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE-->
{% block javascripts %}
{{ js_resources|indent(4)|safe }}
{% endblock javascripts %}
