
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" rel="noopener noreferrer"
                   href="https://biosili.co" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">sincei</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">

                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <!-- Home -->
                    <li data-username="dashboard Default"
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span>
                            <span class="pcoded-mtext">Home</span></a>
                    </li>
                    <!-- Upload -->
                    <li data-username="Plot" class="nav-item {% if 'page-upload' in segment %} active {% endif %}">
                        <a href="/file_upload.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-plus"></i></span>
                          <span class="pcoded-mtext">Data upload</span></a>
                    </li>
                    <!-- Quality control -->
                    <li data-username="QC" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span>
                          <span class="pcoded-mtext">Preprocessing</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/scFilterStats.html" class="">QC statistics</a></li>
                            <li class=""><a href="/ui-badges.html" class="">Count Reads</a></li>
                            <li class=""><a href="/ui-badges.html" class="">Cluster Cells</a></li>
                            <li class=""><a href="/ui-badges.html" class="">Bulk Coverage</a></li>
                        </ul>
                    </li>
                    <!-- Analyse -->
                    <li data-username="analyse" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span>
                          <span class="pcoded-mtext">Analysis</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/ui-button.html" class="">Button</a></li>
                            <li class=""><a href="/ui-badges.html" class="">Badges</a></li>
                            <li class=""><a href="/ui-breadcrumb-pagination.html" class="">Breadcrumb & paggination</a></li>
                            <li class=""><a href="/ui-collapse.html" class="">Collapse</a></li>
                            <li class=""><a href="/ui-tabs.html" class="">Tabs & pills</a></li>
                            <li class=""><a href="/ui-typography.html" class="">Typography</a></li>
                            <li class=""><a href="/ui-icons.html" class="">Feather<span class="pcoded-badge label label-danger">NEW</span></a></li>
                            <li class=""><a href="/ui-forms.html" class="">Forms</a></li>
                            <li class=""><a href="/ui-tables.html" class="">Tables</a></li>
                        </ul>
                    </li>
                    <!-- Plot -->
                    <li data-username="Plot" class="nav-item {% if 'page-plot' in segment %} active {% endif %}">
                        <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span>
                          <span class="pcoded-mtext">Plotting</span></a>
                    </li>
                    <!-- Export -->
                    <li data-username="Export" class="nav-item {% if 'page-export' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-save"></i></span>
                          <span class="pcoded-mtext">Export</span></a>
                    </li>
                    <!-- Logout -->
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{{ url_for('base_blueprint.logout') }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout [{{ current_user.username }}]</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
