name: test

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
      - main

jobs:
  build:
    name: Test installation
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      max-parallel: 5
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [ "3.12" ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        channels: conda-forge,bioconda,defaults
        miniconda-version: "latest"
        auto-activate-base: false
        activate-environment: sincei
        environment-file: requirements.yml
    - name: Check environment
      run: |
        conda info
    - name: List tools
      run: |
        conda list
    - name: Install sincei
      run: |
        pip install .
        which sincei
        sincei --help
    - name: Generate coverage report
      if: matrix.os == 'ubuntu-latest'
      run: |
        pip install pytest
        pip install pytest-cov
        pytest --cov=./ --junitxml=junit.xml -o junit_family=legacy
    - name: Upload coverage to Codecov
      if: matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        env_vars: OS,PYTHON
        fail_ci_if_error: true
        flags: unittests
        name: codecov-umbrella
        verbose: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: psf/black@stable
